
body{
  margin: 0;
  padding: 0;
  background-color: #AFD4C0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.house-container{
  display: flex;
  justify-content: space-around;
  background-color: #dedede;
  margin-bottom: 20px;
}
.house-container p{
  margin: 5px
}
.house-img{
  width: 175px;
  height: 130px;
}